<div class="container">
    <div class="container-fluid h-custom d-flex justify-content-center">
        <img src="/img/logo.png" width="115" style="width:35%; height:20%; object-fit: cover;" asp-controller="Home">
    </div>
</div>

